<!DOCTYPE html>
<html ng-app="PuppiesAPI">

  <head>
    <title>Puppies API</title>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  </head>

  <body ng-controller="PuppiesCtrl">

    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <select class="form-control">
            <option ng-repeat="breed in breeds" value="{{breed.id}}">{{ breed.name }}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h4>Search for Puppies</h4>
          <form name="findPuppy" class="form-inline">
            <label for="name">Name</label>
            <input type="text" name="name" ng-model="searchForm.name" class="form-control">
            <label>Breed</label>
            <select class="form-control" ng-model="searchForm.breedID">
              <option ng-repeat="breed in breeds" value="{{breed.id}}">{{ breed.name }}</option>
            </select>
          </form>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Breed</th>
              <th></th>
            </tr>
            <tr ng-repeat="puppy in puppies | filter: {name: searchForm.name, breed: { id: searchForm.breedID}}">
              <td>{{ puppy.name }}</td>
              <td>{{ puppy.breed.name }}</td>
            </tr>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </body>

  <script src="/js/app.js"></script>
  <script src="/js/services/breeds.js"></script>
  <script src="/js/services/puppies.js"></script>
  <script src="/js/controllers/puppies_ctrl.js"></script>

</html>
